h1{
    font-family: 'Fugaz One', cursive;
    font-size: 3.6rem;
    line-height: 1.5;
}
h2{
    font-family: 'Fugaz One', cursive;
    font-weight: 700;
    font-size: 2.7rem;
    line-height: 1.5;
}
h3{
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    height: 40%;
}
.container-fluid{
    padding: 3% 15%;
}
#title{
    background-color: #5C53DF;
    color: white;
}
.row-intro{
    margin-bottom: 15%;
}
.iphone-img{
    width: 65%;
    filter: brightness(107%);
}
.navbar{
    padding: 0 0 4.5rem;
    font-family: 'Share Tech Mono', monospace;
}
.navbar-brand{
    padding-left: 1%;
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px 0 18px;
}
.nav-link{
    font-size: 1.2rem;
}
.download-btn{
    margin-top: 5%;
    font-family: 'Share Tech Mono', monospace;
}
#features{
    padding: 7% 10%;
    margin: 4% 0;
}
.feat-box{
    text-align: center;
    padding: 5%;
}
.feat-icon{
    color: #A09BED;
    margin-bottom: 1rem;
}
.feat-icon:hover{
    color: #5C53DF;
}
p{
    color: #8f8f8f;
    font-family: 'Dosis', sans-serif;
    font-size: 1.2rem;
}
#testimonials{
    background-color: #A09BED;
    text-align: center;
    color: white;
}
.testimonial-text{
    position: relative;
    top: 45%;
    height: 40%;
}
.carousel-item{
    padding: 6% 15%;
}
.test-img{
    margin: 20px;
    width: 55%;
}